body{
    background-color: #bfbfbf;
    margin: 0;
    font-size: 20px;
    line-height: 30px;
}

header{
    background-color: #c266ff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

header h1{
    color: #333;
    font-size: 50px;
}

header img{
    border-radius: 250px;
    border: 15px solid #333;
}

h1, h2{
    font-family: Lobster, cursive;
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

main img{
    max-width: 100%;
}

h2{
    font-size: 35px;
    color: #333;
    margin: 40px 0px 10px 0px;
}

a{
    color: #333;
}

a:hover{
    color: #c266ff;
}

footer{
    text-align: center;
    background-color: #c266ff;
    color: #333;
    padding: 10px;
}

footer:hover{
    background-color: #333;
    color: #c266ff;
}

footer p{
    margin 0;
}

p.caption{
    color: #555555;
    text-align: center;
    font-style: oblique;
    margin-top: 0;
}